.movie-item {
    width: 451px;
    display: grid;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1490196078);
    height: 280px;
    grid-template-rows: auto 1fr;
    grid-template-columns: 183px 1fr;
    position: relative;
    grid-template-areas:
        "poster info"
        "poster description";
    grid-gap: 0 20px;

    @media screen and (max-width: 500px) {
        max-width: 100%;
        height: 245px;
        grid-template-rows: auto 1fr;
        grid-template-columns: auto 1fr;
        grid-gap: 10px 0;
        position: relative;
        grid-template-areas:
            "poster info"
            "description description";
        padding: 10px 6px 20px 6px;
    }
}

.movie-image {
    width: 183px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: poster;

    @media screen and (max-width: 500px) {
        margin-top: 6px;
        width: 60px;
        height: 91px;
    }
}

.poster {
    width: 183px;
    height: 280px;

    @media screen and (max-width: 500px) {
        width: 60px;
        height: 91px;
    }
}





.movie-info {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 238px;
    margin-right: 10px;
    overflow: hidden;

    @media screen and (max-width: 500px) {
        width: auto;
        margin: 0;
    }

    &_first {
        grid-area: info;
        margin-top: 10px;
        padding-bottom: 7px;

        @media screen and (max-width: 500px) {
            margin: 0;

        }
    }

    &_second {
        grid-area: description;
        display: flex;
        justify-content: space-between;
    }

    &__main-block {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    &__name {
        font-size: 20px;
    }

    &__date {
        font-size: 12px;
        color: #827E7E;
    }


    &__description {
        font-size: 12px;
    }

    &__rating {
        border: solid #E9D100 2px;
        border-radius: 50%;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 30px;
        height: 30px;

        &_terrible {
            border-color: #E90000;
        }

        &_bad {
            border-color: #E97E00;
        }

        &_good {
            border-color: #E9D100;
        }

        &_perfect {
            border-color: #66E900;
        }

    }
}

.genre-name {
    padding: 3px 5px;
    font-size: 12px;
    background-color: #FAFAFA;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.65);
    margin-right: 8px;
}

.ant-rate {
    font-size: 16px;
    margin-bottom: 20px;
    width: fit-content;
    align-self: flex-end;

    @media screen and (max-width: 500px) {
        margin: 0;
    }
}